* {
  color: #281c37;
}

body {
  margin: 0;
  background-color: #e4ecd7;
  display: grid;
  grid-template-rows: 7vh auto 5vh;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
  padding-left: 3%;
  background-color: #e1bf7b;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.task-categories {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2vh;
  padding: 2vh;
  font-weight: bold;
}
.task-categories > h3 {
  padding-left: 2vw;
}

button {
  font-weight: bold;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}
button:active {
  translate: 1px;
}
/* footer styles   */
footer {
  width: 100%;
  background-color: #0000006c;
}
footer > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
a {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
svg {
  width: 1.5rem;
  height: auto;
}
svg:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in;
}

form {
  display: flex;
  column-gap: 3%;
  margin: 3%;
}

form > * {
  font-size: large;
}

#add-to-do {
  background-color: #281c37;
  color: white;
  border-radius: 3px;
}

table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
}
